*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{    
  justify-content: center;
  background: linear-gradient(90deg,red,blue);
}
.container{
  margin: 100px auto;
  border: 1px solid black;
  width: 40%;
  display: flex;
  background: green;
  flex-direction: column;
}
h1{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
input{
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  width: 40%;
}
label{
  margin: 3px;
  text-align: justify;
}
.name,.Email,.Age,.Password {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.name input{
  margin-left: 5px;
}
.Email input{
  margin-left: 33px;
}
.Age input{
  margin-left: 45px;
}
.btn{
  text-align: center;
}
.btn button{
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 20px;
}
.btn button:hover{
  border: none;
  outline: none;
  background-color: goldenrod;
  color: white;
}
.space{
  margin-right: 5px;
}